src/main/mule/emp_sapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="EMP_HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="132eac5e-dbd5-430f-b8eb-2b631ab32426" basePath="emp-sapi" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="339bba70-cbc2-4a58-8971-99afc51cb253" >
		<db:oracle-connection host="localhost" user="system" password="welcome1" instance="XE" />
	</db:config>
	<configuration-properties doc:name="Configuration properties" doc:id="7b95473e-762e-4672-9e52-af636b9cedbd" file="${env}.yaml" />
	<flow name="emp_sapiFlow" doc:id="8b1a6031-86fc-4886-a892-ad93c311ba71" >
		<http:listener doc:name="Add employer Listener" doc:id="377cfa0f-82d8-4f66-8235-8ef99e4d67af" config-ref="EMP_HTTP_Listener_config" path="${http.path}"/>
		<logger level="INFO" doc:name="Entry log" doc:id="b4558f02-d1ca-4a53-a810-b82e652fefcf" message="add-employedata:#[payload]"/>
		<db:insert doc:name="Insert" doc:id="aa30a873-c181-4ead-abfb-8c299ac3621a" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into emp(emp_id, emp_name, emp_status) values(:empid, :empname, :empstatus)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
   empid :  payload.employeeid,
   empname :  payload.employeename,
   empstatus :  payload.empstatus 
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Set-Response" doc:id="811fe910-4a59-41d5-adc6-c447e33606d4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	status: 200,
	message:"Success"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End log" doc:id="a4f82a85-e35b-4c96-a92b-71b92c5c3d5d" message="database user:${db.user}"/>
	</flow>
</mule>
